

# ====================
# React Frontend
# ====================
Frontend/node_modules/
Frontend/build/
dist/
Frontend/.env*
Frontend/public/vite.svg
Frontend/src/assets/react.svg

# ====================
# PHP Backend
# ====================
Backend/vendor/
Backend/*.log
Backend/*.cache
Backend/.env.local
Backend/Config/mail/email_config.php
# Backend/Database.php

# ====================
# System / Editor Files
# ====================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.bak
*.swp
*.tmp

.env
