# ====================
# React Frontend
# ====================
Frontend/node_modules/
Frontend/build/
Frontend/dist/
Frontend/.env.local
Frontend/public/vite.svg
Frontend/src/assets/react.svg

# ====================
# PHP Backend
# ====================
Backend/vendor/
Backend/*.log
Backend/*.cache
Backend/Database.php
Backend/Config/mail/mail_config.php


# ====================
# System / Editor Files
# ====================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.bak
*.swp
*.tmp
